# Ignore all dotfiles except this gitignore itself
.*
!.gitignore

# Ignore all complie results and logs
*.class
*.log

# Ignore directories other than the source directory 
# and the ones that were included originally
lib/
project/
lib_managed/
recitations/
submission/
target/
common/