# Ignore all dotfiles except this gitignore itself
.*
!.gitignore

# Ignore all complie results and logs
*.class
*.log

# Ignore directories other than the source directory
lib/
lib_managed/
project/
recitations/
submission/
target/